[submodule "lineage_wiki"]
	path = submodules/lineage_wiki
	url = https://github.com/LineageOS/lineage_wiki
[submodule "pmaports"]
	path = submodules/pmaports
	url = https://gitlab.com/postmarketOS/pmaports.git
[submodule "user"]
	path = submodules/user
	url = https://gitlab.e.foundation/e/documentation/user.git
